
<form [formGroup]="addForm" novalidate class="form mr-2">
    
    <div class="row mt-2">
      <div class="col-md-4">
        Category Name
        <input type="text" formControlName="Cname" class="form-control" />
      </div>
    </div>
 
    <div class="row mt-2">
      <div class="col-md-4">
        Image
        <input type="file" formControlName="image" class="form-control" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8">
        <button type="submit" class="btn btn-success" (click)="onSubmit()">
          Submit Form
        </button>
      </div>
    </div>
  </form>